<div class="modal-header">
		<h3 class="modal-title">Who are you?</h3>
</div>
<div class="modal-body">
	<form method="post" ng-submit="save()" name="loginForm">
    <md-dialog-content>
      <md-radio-group ng-model="user.realm">
	      <md-radio-button value="customer" class="md-primary">Customer</md-radio-button>
	      <md-radio-button value="merchant"> Merchat </md-radio-button>
	    </md-radio-group>
			<div layout="row" layout-sm="column" layout-align="center" >
				<md-button flex="100" type="submit" class="md-primary md-raised">Login</md-button>
			</div>
    </md-dialog-content>
  </form>
</div>