<div ng-controller="ToolbarCtrl" ng-cloak>
  <div ng-if="isAuthenticated() && !auth.emailVerified" class="text-center">
    Please, check your email  to activate account .
  </div>
  <md-toolbar>
    <div class="md-toolbar-tools site-toolbar-tools">
      <div layout="row" flex class="fill-height">
        <h2>
          <a ui-sref="home"><strong>Welcome {{auth.realm}}</strong></a>
        </h2>
        <md-button class="md-icon-button" hide-gt-sm aria-label="Toggle Menu">
          <i class="material-icons">menu</i>
        </md-button>
        <span flex></span>
        <md-button ng-if="!isAuthenticated()" aria-label="Login" ng-click="login()">
          <strong>Login</strong>
        </md-button>


        <div ng-if="isAuthenticated()" class="md-toolbar-item site-toolbar-dropdown" uib-dropdown>
          <a id="username-button" type="button" href="#" uib-dropdown-toggle ng-disabled="disabled">
            {{auth.name || auth.email}} <span class="caret"></span>
          </a>
          <ul uib-dropdown-menu role="menu" aria-labelledby="username-button">
            <li role="menuitem"><a ui-sref="settings.profile">{{auth.name || auth.email}}</a></li>
            <li class="divider"></li>
            <li role="menuitem"><a ui-sref="settings.profile">Profile</a></li>
            <li class="divider"></li>
            <li role="menuitem"><a href="#" ng-click="logout()">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>  
  </md-toolbar>
</div>