<div class="modal-header">
		<h3 class="modal-title">Login</h3>
</div>
<div class="modal-body">
	<form method="post" ng-submit="login()" name="loginForm">
    <md-dialog-content>
      <md-input-container class="md-block md-input-invalid text-center"  ng-if="errors.message" >
	      <div ng-message-exp='error'>{{errors.message}}</div>
      </md-input-container></br>
      <md-radio-group ng-model="user.realm">
	      <md-radio-button value="" class="md-primary">Customer</md-radio-button>
	      <md-radio-button value="merchant"> Merchat </md-radio-button>
	    </md-radio-group>
      <md-input-container class="md-block">
	      <!-- Use floating placeholder instead of label -->
	      <md-icon class="email"><i class="material-icons">email</i></md-icon>
	      <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
    	</md-input-container>
    	<md-input-container class="md-block">
	      <!-- Use floating placeholder instead of label -->
	      <md-icon class="password"><i class="material-icons">vpn_key</i></md-icon>
	      <input ng-model="user.password" type="password" placeholder="Password (required)" ng-required="true">
				<md-checkbox md-no-ink aria-label="Remember Me" ng-model="user.rememberMe" class="md-primary" style="margin-top: 10px;">
						Remember Me
				</md-checkbox>
    	</md-input-container>
			<div layout="row" layout-sm="column" layout-align="center" >
				<md-button flex="100" type="submit" class="md-primary md-raised">Login</md-button>
			</div>
			<div class="text-center">Sign up <a href="#" ng-click="signup()">here</a></div>

			<button class="btn btn-block btn-facebook" ng-click="authenticate('facebook')">
          <i class="ion-social-facebook"></i> Sign in with Facebook
        </button>
    </md-dialog-content>
  </form>
</div>